<div class="flex-container">
  <mat-card>
    <mat-card-title>
      Groups
    </mat-card-title>
    <mat-card-content>
      <h3>Contains {{ config.get('sortingConfig') | objectLength }} folders</h3>
      <h3>Covers {{ getNumberOfExtensions() }} extenstions</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="groups">Manage</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Options
    </mat-card-title>
    <mat-card-content>
      <mat-slide-toggle #sortingToggle class="full-width" color="primary" [checked]="sorting" (change)="enableChange($event)">
        Sorting
      </mat-slide-toggle>
      <br>
      <mat-slide-toggle #otherToggle class="full-width" color="primary" [checked]="others" (change)="othersChange($event)">
        Others Folder
      </mat-slide-toggle>
      <h3>Downloads Directory</h3>
      <button mat-stroked-button class="full-width" (click)="openFolderPicker()" [matTooltip]="downloadsDirectory">
        <mat-icon>folder</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Overlooked
    </mat-card-title>
    <mat-card-content>
      <h3>Has {{ config.get('ignoredFiles') | objectLength }} classifications</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="overlooked">Manage</button>
    </mat-card-actions>
  </mat-card>
</div>
