<div [class]="theme">
    <mat-toolbar color="primary" class="drag">
        <mat-toolbar-row>
            <div>
                <button mat-icon-button class="no-drag" routerLink="" [@backState]="home">
                    <mat-icon aria-label="Back button">arrow_back</mat-icon>
                </button>
            </div>
            <div>FineDLSorter</div>
            <div>
                <button mat-icon-button class="no-drag" (click)="close()">
                    <mat-icon aria-label="Close button">close</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-wrapper" [@routerTransition]="getComponent(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <button class="shutdown-button" matTooltip="Shutdown FineDLSorter" matTooltipPosition="left" mat-icon-button (click)="exit()">
        <mat-icon aria-label="Shutdown">power</mat-icon>
    </button>
    <button class="settings-button" matTooltip="Settings" matTooltipPosition="left" mat-icon-button routerLink="settings">
        <mat-icon aria-label="Settings">settings</mat-icon>
    </button>
</div>