$mat-distance: 14px;

mat-toolbar {
  top: 0;
  position: fixed;
  z-index: 9999;
}

.router-wrapper {
  margin-top: 55px;
}

mat-toolbar > mat-toolbar-row:first-child {
  justify-content: center;
  div {
    flex: 1;
  }
  div:nth-child(2) {
    text-align: center;
  }
  div:nth-child(3) {
    text-align: right;
  }
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.router-wrapper {
  padding: 10px;
}

.shutdown-button {
  position: fixed;
  right: $mat-distance;
  bottom: $mat-distance;
}

.hidden {
  display: none;
}